RPC_URL=https://api.devnet.solana.com
ADMIN_KEYPAIR=~/.config/solana/id.json
FAUCET_KEYPAIR=~/.config/fluxo/faucet-authority.json
# CRE simulator forwarder
FORWARDER_PROGRAM=7kuEAA3mSC1Tz8gQjnvH7bKFda9xSPRRin9SZbH49cNK
FORWARDER_STATE=5Tipz3yhTBdVsDbaBxZkrp7Gjf3brGq5SKkxReefPMP7
